

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <ion-nav-view name="ngCordovaContent"></ion-nav-view>
    </ion-side-menu-content>

        <ion-side-menu side="left"  expose-aside-when="large">

        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close   class="item item-icon-left"  href="#/tab/crodova/camera">

                        <i class="icon ion-ios7-camera"></i>
                        camera测试

                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
