<ion-view view-title="camera测试">

    <ion-content>

        <div class="card">
            <div class="item item-divider">
                Take a picture 照相
            </div>
            <div class="item item-image">
                <img class="item" ng-src="{{cameraimage}}" style="height: 250px;"/>
            </div>
        </div>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="takePicture()">
                Take Photo 照相
            </button>
        </div>


    </ion-content>
</ion-view>
